.modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 1000000000;
}

.modalContent {
  position: absolute;
  bottom: 0;
  background: linear-gradient(123.45deg, rgba(191, 227, 105, 1), rgba(115, 138, 59, 1));
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  padding: 10px 15px;
  border-radius: 25px 25px 0 0;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 20%);
}
